    <div class="row">

      <div class="col s12 m6 l4">
        <!-- Promo Content 1 goes here -->
        <img id=cakepop1 src="images/strawberry_cake_pops.jpg">
        <h4>Strawberry Pop</h4>
        <h6>Price: $2.99</h6>
      </div>
      <div class="col s12 m6 l4">
        <!-- Promo Content 2 goes here -->
        <img id="cakepop2" src="images/red_velvet_cake_pops.jpg">
        <h4>Red Velvet Pop</h4>
        <h6>Price: $2.99</h6>
      </div>
      <div class="col s12 m6 l4">
        <!-- Promo Content 3 goes here -->
        <img id="cakepop3" src="images/blueberry_cake_pops.jpg">
        <h4>Blueberry Pop</h4>
        <h6>Price: $2.99</h6>
      </div>

    </div>