    <div class="row">
      <%# --------------Cake Pop 1------- %>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img id="cakepop1" class="activator" src="images/strawberry_cake_pops.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Strawberry Cake Pop<i class="material-icons right"></i></span>
            <h6>Price: $2.99</h6>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Strawberry Cake Pop<i class="material-icons right">close</i></span>
            <p>Baked with love and delciousness! Best cake pops in the galaxy!</p>
            <p>Dozen: $19.99</p>
          </div>
        </div>
      </div>
      <%# -------------Cake Pop 2-------- %>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img id="cakepop2" class="activator" src="images/red_velvet_cake_pops.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Red Velvet Cake Pop<i class="material-icons right"></i></span>
            <h6>Price: $2.99</h6>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Red Velvet Cake Pop<i class="material-icons right">close</i></span>
            <p>Baked with love and delciousness! Best cake pops in the galaxy!</p>
            <p>Dozen: $19.99</p>
          </div>
        </div>
      </div>
      <%# -------------Cake Pop 3-------- %>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img id="cakepop3" class="activator" src="images/blueberry_cake_pops.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Blueberry Cake Pop<i class="material-icons right"></i></span>
            <h6>Price: $2.99</h6>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Blueberry Cake Pop<i class="material-icons right">close</i></span>
            <p>Baked with love and delciousness! Best cake pops in the galaxy!</p>
            <p>Dozen: $19.99</p>
          </div>
        </div>
      </div>
      <%# -------------Cake Pop 4-------- %>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img id="cakepop4" class="activator" src="images/rainbow_cake_pops.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Rainbow Cake Pop<i class="material-icons right"></i></span>
            <h6>Price: $2.99</h6>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Rainbow Cake Pop<i class="material-icons right">close</i></span>
            <p>Baked with love and delciousness! Best cake pops in the galaxy!</p>
            <p>Dozen: $19.99</p>
          </div>
        </div>
      </div>
      <%# -------------Cake Pop 5-------- %>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img id="cakepop5" class="activator" src="images/golden_snitch_cake_pops.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Golden Snitch Pop<i class="material-icons right"></i></span>
            <h6>Price: $2.99</h6>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Golden Snitch Pop<i class="material-icons right">close</i></span>
            <p>Baked with love and delciousness! Best cake pops in the galaxy!</p>
            <p>Dozen: $19.99</p>
          </div>
        </div>
      </div>
      <%# -------------Cake Pop 6-------- %>
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img id="cakepop6" class="activator" src="images/watermelon_cake_pops.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Watermelon Pop<i class="material-icons right"></i></span>
            <h6>Price: $2.99</h6>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Watermelon Pop<i class="material-icons right">close</i></span>
            <p>Baked with love and delciousness! Best cake pops in the galaxy!</p>
            <p>Dozen: $19.99</p>
          </div>
        </div>
      </div>

    </div>