    <div class="row">

      <div class="col s12 m6 l4">
        <!-- Promo Content 1 goes here -->
        <img id=cake1 src="images/battlestar_galactica.jpg">
        <h4>Sci-Fi themed Cake</h4>
        <h6>Price: $49.99</h6>
      </div>
      <div class="col s12 m6 l4">
        <!-- Promo Content 2 goes here -->
        <img id="cake2" src="images/strawberry_cream_cake.jpg">
        <h4>Strawberry Cream Cake</h4>
        <h6>Price: $29.99</h6>
      </div>
      <div class="col s12 m6 l4">
        <!-- Promo Content 3 goes here -->
        <img id="cake3" src="images/ultimate_choclate_cake.jpg">
        <h4>Ultimate Choclate Cake</h4>
        <h6>Price: $29.99</h6>
      </div>

    </div>