<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bake It So</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
  </head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Bake It So!</a>
      <img id="logo" class="brand-logo" src="images/bake_it_so_logo.svg">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Cake</a></li>
        <li><a href="badges.html">Muffins</a></li>
        <li><a href="collapsible.html">Cookies</a></li>
      </ul>
    </div>
  </nav>

  <%= yield %>


</body>
</html>