nav{
    height: 100px;
}
#logo{
    width: 100px;
    height: 100px;
}
/* ---------------cake section------------- */
#cake1{
    width: 600px;
    height: 500px;
}
#cake2{
    width: 600px;
    height: 500px;
}
#cake3{
    width: 600px;
    height: 500px;
}
#cake4{
    width: 600px;
    height: 500px;
}
#cake5{
    width: 600px;
    height: 500px;
}
#cake6{
    width: 600px;
    height: 500px;
}
/* -------------cake pop section--------- */
#cakepop1{
    width: 600px;
    height: 500px;
}
#cakepop2{
    width: 600px;
    height: 500px;
}
#cakepop3{
    width: 600px;
    height: 500px;
}
#cakepop4{
    width: 600px;
    height: 500px;
}
#cakepop5{
    width: 600px;
    height: 500px;
}
#cakepop6{
    width: 600px;
    height: 500px;
}
/* --------------Cookies section--------- */
#cookie1{
    width: 600px;
    height: 500px;
}
#cookie2{
    width: 600px;
    height: 500px;
}
#cookie3{
    width: 600px;
    height: 500px;
}
#cookie4{
    width: 600px;
    height: 500px;
}
#cookie5{
    width: 600px;
    height: 500px;
}
#cookie6{
    width: 600px;
    height: 500px;
}
/* --------------front page section--------- */

#welcome_message{
    text-align: center;
}

#frontpage1{
    width: 600px;
    height: 400px;
}
#frontpage2{
    width: 600px;
    height: 400px;
}
#frontpage3{
    width: 600px;
    height: 400px;
}