#logo{
    width: 70px;
    height: 70px;
}

#cake1{
    width: 500px;
    height: 400px;
}
#cake2{
    width: 500px;
    height: 400px;
}
#cake3{
    width: 500px;
    height: 400px;
}

#cakepop1{
    width: 500px;
    height: 400px;
}
#cakepop2{
    width: 500px;
    height: 400px;
}
#cakepop3{
    width: 500px;
    height: 400px;
}

#cookie1{
    width: 500px;
    height: 400px;
}
#cookie2{
    width: 500px;
    height: 400px;
}
#cookie3{
    width: 500px;
    height: 400px;
}